<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot Web Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.min.css">
</head>
<body>
